article.md-content__inner.md-typeset:before {
    content: "DRAFT";
    -webkit-transform: rotate(331deg);
    -moz-transform: rotate(331deg);
    -o-transform: rotate(331deg);
    transform: rotate(331deg);
    font-size: 20em;
    color: rgba(255, 5, 5, 0.17);
    position: absolute;
}