requests==2.27.1
feedgen==0.9.0
mkdocs==1.6.1
mkdocs-material==9.6.15
pymdown-extensions==10.16
Pygments==2.19.2
mkdocs-static-i18n[material]==1.3.0
mkdocs-macros-plugin==1.3.7
dacite==1.9.2
git+https://github.com/OWASP/OSIB.git#subdirectory=mkdocs_macro_osib_package
