{% extends "base.html" %}

{% block announce %}
  <style>
    .md-announce a,
    .md-announce a:focus,
    .md-announce a:hover {
      color: currentColor;
    }

    .md-announce strong {
      white-space: nowrap;
    }

    .md-announce .twitter {
      margin-left: 0.2em;
    }
  </style>
  <a class= href="https://twitter.com/squidfunk">
    This is a draft. Do <strong>not</strong> use this version. The presence of an <i>Axx</i> does not mean it's going to be in the final or the ordering of the final version.
  </a>
{% endblock %}
